<form action="/articles" method="post">

<label for="articleTitle">Title</label>
<input type="text" name="articleTitle" id="articleTitle">

<label for="articleAuthor">Author name</label>
<input type="text" name="articleAuthor" id="articleAuthor">

<label for="urlTitle">Link</label>
<input type="text" name="urlTitle"id='urlTitle'>

<input type="submit" value="Submit">
</form>
