<h1>Edit Product</h1>
<form action="/products" method="post">

<label for="productType">Type of Product</label>
<input type="text" name="productType" id="productType">

<label for="productName">Product Name</label>
<input type="text" name="productName" id="productName">

<label for="productBrand">Brand</label>
<input type="text" name="productBrand"id='productBrand'>

<label for="productDesc">Description:</label>
<input type="text" name="productDescription" id="productDesc">

<label for="productPrice">Price:</label>
<input type="text" name="productPrice" id="productPrice">

<input type="submit" value="Submit">
</form>